<%inherit file="app_base.htm" />

<%block name="title">
    <title>About FOMO</title>
</%block>

<head>
    <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/about.css">
</head>

<%block name="aboveColumns">
    <h1>About</h1>
    <div id="content">
        <p>
            The Family Oriented Music Organization is a family owned music store that’s been operating in Utah Valley since 1952. They have been profitable but are always looking for ways to improve their business. Their in-store point-of-sale system is starting to show its age, so the FOMO owners are looking into a web-based system. They are seeking proposals from software developers.
        </p>
        <p>
            Johan Anderson knows he needs a top-quality information system to run his business, and in this document he shares with us his thoughts on the business processes that support the company.  Johan started by sharing his vision of FOMO.
        </p>
        <p>
            “FOMO is a store that aims to satisfy the musical needs of musicians and budding musicians in the area. We provide instruments, accessories, repairs, sheet music, and training opportunities. Our store has four main revenue streams: sales, rentals, venue hosting and services.”
        </p>
    </div>
</%block>

