<%inherit file="app_base.htm" />

<%block name="title">
    <title>FOMO FAQ</title>
</%block>

<head>
    <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/FAQ.css">
</head>

<%block name="aboveColumns">
    <h1>FAQ</h1>
    <div id="content">
        <h4>How long does it take to ship?</h4>
        <p>It take 3 - 4 business days.</p>
        <br>
        <h4>What are your business hours?</h4>
        <p>
            Our normal business hours are Monday - Saturday 8:00am - 5:00pm.
            <br>
            However holiday hours may apply. Please call us at 801-801-8011 for more details.
        </p>
    </div>

</%block>

