<%inherit file="app_base.htm" />

<%block name="title">
    <title>FOMO Sections</title>
</%block>

<%block name="maintainanceMessage">
    Please be advised that our site is being updated for your benefit.
</%block>

<head>
    <link type="text/css" rel="stylesheet" href="${ STATIC_URL }homepage/styles/sections.css">
</head>

<%block name="aboveColumns">
    Above column text
</%block>

<%block name="left">
    <h1>Left</h1>
</%block>

<%block name="middle">
    <h1>Middle</h1>
</%block>

<%block name="right">
    <h1>Right</h1>
</%block>
